<footer class="footer">  
    <div class="footer-bottom-container ">
      <div class="footer-text">
        <h3 class="">Gratis Agency</h3>
        <span class="text-muted copy-right">&copy; Gratis Agency.2022</span>
      </div>
      <div class="socials-container">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
  </div>

</footer>