<nav class="navbar navbar-expand-lg py-0 m-0 navbar-light fixed-top bg-white shadow-sm">
  <div class="container-fluid py-3 px-4 navigation-container">
    <a href="/"><img class="navbar-brand" src="/image/landinglogo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav1 ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-link-transparent" aria-current="page" href="./#home-section">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-transparent" href="./#how-it-works-section">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-transparent" href="./#explore-section">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-transparent" href="/#about-us-section">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-transparent" href="/login">Login</a>
        </li>
        <li class="nav-item sign-up-item">
          <a class="nav-link n av-link-transparent sign-up-link" href="/signUp" style="color: black">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
