<!doctype html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head.ejs') %>
<br>
<body>
  <%- include('partials/nav.ejs') %>
    <div class="text-small page-wrapper2">
      <div class="container">
        <div class="row shadow">
          <div class="col-sm-4 shdow">
            <img class="img-fluid img-thumbnail shadowless" src="/image/Avatar 2.svg" style="width:100%" alt="Avatar">
            <div class="display-bottomleft container text-black">
              <h5 class="text-centre has-name" style="font-family:Cartograph; text-align:center"><b>Gaurav Jalkote</b>
              </h5>
            </div>
            <div class="container ">
              <p><i class="fa fa-briefcase fa-fw  "></i>Web Developer</p>
              <p><i class="fa-solid fa-location-dot fa-fw"></i>Delhi ,India</p>
              <p><i class="fa fa-envelope fa-fw  "></i>gaurav012@mail.com</p>
            </div>
          </div>

          <div class="col-sm-8 card">
            <div class="container">
              <div class="container white margin-bottom">
                <h4 class="text-grey padding-6" style="font-family:Thermometer; text-align:center">Work Experience
                </h4>
                <div class="container shadow">
                  <p><b>Front End Developer / abc.com</b></p>
                  <i class="text-dark experience-dates">Oct 2014 - <span class="tag  round">Current</span></i>
                  <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est
                    reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
                  </p>
                  <hr>
                </div>
                <div class="container shadow">
                  <p><b>Web Developer / xyz.com</b></p>
                  <i class="text-dark experience-dates">Mar 2012 - Dec 2014</i>
                  <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est
                    reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
                  </p>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row shadow">
          <div class="col-sm-12 shadow ">
            <h4 class=" padding-6 text-center" style="font-family:Thermometer ; text-align: centre">Qualification</h4>
            <div class="container shadow">
              <p class="opacity"><b>Jobber.com</b></p>
              <i class="text-dark experience-dates">Current</i>
              <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est
                reprehenderit
                sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
              <hr>
            </div>

            <div class="container shadow">
              <h6 class="opacity"><b>IIIT Sri city</b></h6>
              <i class="text-dark experience-dates">2013 - 2015</i>
              <p>Master Degree</p>
              <hr>
            </div>

            <div class="container shadow">
              <p class="opacity"><b>School of Coding</b></p>
              <i class="text-dark experience-dates">2010 - 2013</i>
              <p>Bachelor Degree</p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>


</html>