<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <!-- Navigation Section -->
    <%- include('partials/navLanding.ejs') %>
    
    <!-- Message for unsupported screen sizes -->
    <h3 class="no-support-device">
      Sorry, We will soon support your screen size.
    </h3>
    <!-- Landing Page -->
    <div class="container-fluid" id="home-section">
      <div class="row landing-text-container">
        <div class="perfect col-12 col-sm-9 col-lg-6 shadow-lg px-3">
          <p>A perfect freelance services place for your business!</p>
        </div>
      </div>
    </div>
    <!-- How it works Section -->
    <section id="how-it-works-section">
      <div class="container-fluid how-it-works-container">
        <h3 class="circle-section text-center">Get It Done with Gratis Agency</h3>
        <div class="row how-it-works-content-container">
          <div class="col-md-3 icons">
            <img
              class="icon_rep img-fluid"
              src="/PostImage.svg"
              alt="postimage"
            /><br />
            <h4>Post a Job</h4>
            <p>
              Create your free job posting and start receiving Quotes within
              hours.
            </p>
          </div>
          <div class="col-md-3 icons">
            <img
              class="icon_rep img-fluid"
              src="/image/Resume Icon.svg"
              alt=""
            /><br />
            <h4>Bids Come to You</h4>
            <p>
              Create your free job posting and start receiving Quotes within
              hours.
            </p>
          </div>
          <div class="col-md-3 icons">
            <img
              class="icon_rep img-fluid"
              src="image/Profile Icon.svg"
              alt=""
            /><br />
            <h4>Review Profiles</h4>
            <p>
              Create your free job posting and start receiving Quotes within
              hours.
            </p>
          </div>
          <div class="col-md-3 icons">
            <img
              class="icon_rep img-fluid"
              src="image/Collaborate Icon.svg"
              alt=""
            /><br />
            <h4>Collaborate Easily</h4>
            <p>
              Create your free job posting and start receiving Quotes within
              hours.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Explore Section -->
    <section id="explore-section">
      <div class="container-fluid explore-container">
        <div class="h3 text-center explore-title">Explore the marketplace</div>
        <div class="row">
          <!-- Graphics -->
          <a class="col-6 col-lg-4 explore-catagories" href="/login">
            <img
              src="image/Graphics Icon.svg"
              class="img-fluid explore-images"
              alt=""
            />
            <p class="explore-description">Graphics & Design</p>
          </a>

          <!-- Development -->
          <a class="col-6 col-lg-4 explore-catagories" href="/login">
            <img
              src="image/Programming Icon.svg"
              alt=""
              class="img-fluid explore-images"
            />
            <p class="explore-description">Programming & Development</p>
          </a>

          <!-- Video  -->
          <a class="col-6 col-lg-4 explore-catagories" href="/login">
            <img
              src="image/Video and Animation Icon.svg"
              alt=""
              class="img-fluid explore-images"
            />
            <p class="explore-description">Video and Motion Animation</p>
          </a>

          <!-- Marketing -->
          <a class="col-6 col-lg-4 explore-catagories" href="/login">
            <img
              src="image/Digital Marketing.svg"
              alt=""
              class="img-fluid explore-images"
            />
            <p class="explore-description">Digital Marketing</p>
          </a>

          <!-- Music and Audio -->

          <a class="col-6 col-lg-4 explore-catagories" href="/login">
            <img
              src="image/Music and Audio.svg"
              class="img-fluid explore-images"
              alt=""
            />
            <p class="explore-description">Music & Audio</p>
          </a>

          <!-- Writing -->
          <a class="col-6 col-lg-4 explore-catagories" href="/login">
            <img
              src="image/Writing and Transaltion.svg"
              alt=""
              class="img-fluid explore-images"
            />
            <p class="explore-description">Writing and Translations</p>
          </a>
          <!-- Business -->
          <a class="col-6 col-lg-4 explore-catagories" href="/login">
            <img
              src="image/Business Icon.svg"
              alt=""
              class="img-fluid explore-images"
            />
            <p class="explore-description">Business</p>
          </a>
          <!-- Life Style -->
          <a class="col-6 col-lg-4 explore-catagories" href="/login">
            <img
              src="image/Lifestyle Icon.svg"
              alt=""
              class="img-fluid explore-images"
            />
            <p class="explore-description">Lifestyle</p>
          </a>
        </div>
      </div>
    </section>
    <!-- Advert Section -->
    <section class="app" id="about-us-section">
      <div class="container-fluid advertclass">
        <div class="row ">
          <div class="col-md-6 textbox" >
            <h3 class="app-title">
              A whole world of freelance talent at your fingertips
            </h3>

            <p class="app-desc">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto,
              debitis a placeat porro in nobis velit nisi cupiditate.
              Perferendis libero possimus molestias vero tempore expedita, quos
              fuga vel accusamus similique.
            </p>
          </div>
          <!--<div class="vl col-md-4"></div>  add a vertical line inside here-->
          <div class="col-md-6" data-aos="">
            <img
              class="illustration img-fluid"
              src="image/Mobile App.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <div class="acheivements-page-wrapper">
      <section class="content">
        <div class="container">
          <div class="block-title text-center">
            <h2 class="c-title">Achievements</h2>
            <hr />
          </div>
          <br />
          <br />
          <div class="row">
            <div
              class="col-lg-3 col-md-6 col-sm-6 acheivements-page-inner-wrapper"
            >
              <div
                class="single"
                style="background-image: linear-gradient(#40f5ff, #c97b7b)"
              >
                <div class="inner">
                  <h3 class="count counter">925</h3>
                  <p class="text">Happy Clients</p>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-md-6 col-sm-6 acheivements-page-inner-wrapper"
            >
              <div
                class="single"
                style="background-image: linear-gradient(#40f5ff, #fffeab)"
              >
                <div class="inner">
                  <h3 class="count counter">10,000</h3>
                  <p class="text">Jobs</p>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-md-6 col-sm-6 acheivements-page-inner-wrapper"
            >
              <div
                class="single"
                style="background-image: linear-gradient(#40f5ff, #bb6eff)"
              >
                <div class="inner">
                  <h3 class="count counter">20,000</h3>
                  <p class="text">People Registered</p>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-md-6 col-sm-6 acheivements-page-inner-wrapper"
            >
              <div
                class="single"
                style="background-image: linear-gradient(#40f5ff, #c2ff7d)"
              >
                <div class="inner">
                  <h3 class="count counter">200</h3>
                  <p class="text">Projects</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center gap">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste eaque
          rerum consequuntur quidem, quas aliquid nulla? Fugit culpa aspernatur
          vel. Magnam enim quisquam debitis unde! Nihil qui repellendus iusto
          voluptates.
        </p>
        <br /><br />
        <a class="btn btn-danger" href="signUp">Get started</a>
      </section>
    </div>
    <!-- Footer Section -->
    <%- include('partials/footer.ejs') %>

    <!-- Bootstrap CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--waypoints library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <!--counter-up library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <!-- Animate On Scroll CDN -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Link to Local CSS -->
    <script src="./assets/js/app.js"></script>
    <!--scroll bar-->
    <script>
      $(window).scroll(() => {
        $("nav").toggleClass("scrolled", $(this).scrollTop() > 50);
      });
    </script>
  </body>
</html>
